#jianjie {
	background-color: #f4f4f5;
	padding: 1rem 0;
}

.jianjie-inner {
	width: 15rem;
	margin: 0 auto;
}

.jianjie-head {
	height: 2rem;
}

.jianjie-head h2 {
	float: left;
	font-size: 0.8rem;
}

.jianjie-head h4 {
	float: left;
	font-size: 0.5rem;
	padding-left: 0.5rem;
	padding-top: 0.4rem;
}

.jianjie-inner p {
	font-size: 16px;
	color: #333;
	line-height: 0.75rem;
}

#yuanzhang {
	background-color: fff;
	padding: 1rem 0;
	border-bottom: 1px #f0f0f0 solid;
}

.yuanzhang-inner {
	width: 15rem;
	margin: 0 auto;
}

.yuanzhang-head h2 {
	float: left;
	font-size: 1.2rem;
}

.yuanzhang-head h4 {
	float: left;
	font-size: 0.7rem;
	padding-left: 0.5rem;
	padding-top: 0.2rem;
}

.yuanzhang-pic {
	width: 100%;
	max-width: 230px;
	margin: 0 auto;
}

.yuanzhang-pic img {
	border: 3px #ccc solid;
}

.yuanzhang-pic p {
	padding-left: 0rem;
	transition: all 0.2s;
	color: rgba(20, 20, 20, 1);
}

.yuanzhang-pic:hover img {
	transition: all 0.5s;
}

.yuanzhang-pic:hover img {
	box-shadow: 5px 5px 5px #ccc;
	transform: translateY(-2px);
}

.yuanzhang-pic {
	font-size: 0.6rem;
	color: #333;
}

.yuanzhang-text {
	width: 14rem;
	border: 1px #ccc solid;
	padding: 0.2rem;
	box-shadow: 2px 2px 2px #ccc;
	margin: 1rem auto;
}

.yuanzhang-text p {
	font-size: 0.6rem;
	line-height: 0.75rem;
}

#ui-gt {
	background-color: #fff;
}

#ui-gt img {
	width: 100%;
	max-width: 540px;
}

.xinzi {
	background-color: #f9f9f9;
}

.xinzi-inner {
	width: 14rem;
	padding: 0.5rem 0;
	margin: 0 auto;
	text-align: center;
}

.xinzi-inner h1 {
	font-size: 1.2rem;
	padding: 0.2rem 0;
	color: #fff;
	background-color: #2074b4;
}

.xinzi-inner h1 i {
	font-size: 0.9rem;
	color: #fe5228;
	padding: 0 0.5rem;
}

.xinzi-inner h2 {
	font-size: 0.5rem;
	color: #333;
}

.xinzi-inner h4 {
	font-size: 0.6rem;
	color: #333;
}

.xinzi-inner p {
	font-size: 0.6rem;
	line-height: 0.8rem;
	color: #5e5e5e;
	padding: 0.75rem;
}

.xinzi-l {
	width: 15rem;
	height: 17rem;
	background-image: url(../../images/gyys_06.jpg);
	background-repeat: no-repeat;
	background-position: 0 4rem;
}

.xinzi-l p {
	color: #c7c7c7;
	font-size: 0.6rem;
}

.xinzi-m {
	width: 15rem;
	height: 17rem;
	background-image: url(../../images/gyys_08.jpg);
	background-repeat: no-repeat;
	background-position: 1.5rem 3rem;
}

.xinzi-m p {
	color: #c7c7c7;
	padding: 0 0;
	font-size: 12px;
}

.xinzi-r {
	width: 15rem;
	height: 17rem;
	background-image: url(../../images/gyys_03.jpg);
	background-repeat: no-repeat;
	background-position: 1.5rem 3.5rem;
}

.xinzi-r p {
	color: #c7c7c7;
	padding: 0 0;
	font-size: 12px;
}

#tuijian {
	background-image: url(../images/tuijian-3.jpg);
	text-align: center;
	padding: 1rem 0;
	width: 100%;
	max-width: 540px;
}

.tuijian-pic {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.tuijian-pic img {
	display: block;
	width: 100%;
	max-width: 540px;
}

#tuijian h2 {
	height: 2rem;
	line-height: 2rem;
	width: 14rem;
	font-size: 1rem;
	margin: 0 auto;
	position: relative;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	text-align: center;
	font-weight: 700;
	color: #5385da;
	border: 5px #5686db solid;
}

#tuijian h2:before {
	content: "";
	width: 0.25rem;
	height: 0.75rem;
	display: block;
	position: absolute;
	top: 0.65rem;
	left: -5px;
	background-color: #fff;
}

#tuijian h2:after {
	content: "";
	width: 0.75rem;
	height: 0.75rem;
	float: left;
	display: block;
	position: absolute;
	top: 0.65rem;
	right: -8px;
	background-color: #fff;
}

#zongbu {
	background-color: #f5f5f5;
	padding: 0.5rem 0;
	width: 100%;
}

.zongbu-head {
	height: 0.8rem;
	margin-bottom: 0.5rem;
}

#zongbu h3 {
	font-size: 0.7rem;
	padding-left: 0.5rem;
	float: left;
	padding-bottom: 0.3rem;
}

.zongbu-head h4 {
	float: left;
	font-size: 0.6rem;
	padding-top: 0.2rem;
	padding-left: 0.5rem;
}

.zongbu-pic {
	width: 27.77777%;
	float: left;
	text-align: center;
	margin: 0 0.44rem 0.5rem;
	border: 1px #e0e0e0 solid;
	text-align: center;
	box-shadow: 2px 2px 2px #ccc;
}

.zongbu-pic img {
	width: 100%;
}

.zongbu-pic:nth-child(4) {
	margin-right: 0px;
}

.zongbu-pic:nth-child(7) {
	margin-right: 0px;
}

.zongbu-pic:nth-child(10) {
	margin-right: 0px;
}

.zongbu-pic p {
	line-height: 0.7rem;
	height: 0.7rem;
	font-size: 0.45rem;
}

.zongbu-text {
	box-shadow: 2px 2px 2px #ccc;
	overflow: hidden;
	margin-top: 1rem;
	width: 15.3rem;
	margin: 0 auto;
}

.zongbu-biao {
	height: 1rem;
	width: 15.3rem;
	line-height: 1rem;
	font-size: 0.4rem;
}

.zongbu-biao-l {
	width: 1.4rem;
	height: 1rem;
	float: left;
	line-height: 1rem;
	border-left: 0.05rem #dedede solid;
	border-right: 0.05rem #dedede solid;
	border-top: 1px #dedede solid;
	background-color: #f9f9f9;
	text-align: left;
	padding-left: 0.15rem;
}

.zongbu-biao-r {
	width: 13.45rem;
	height: 1rem;
	float: left;
	line-height: 1rem;
	border-right: 0.05rem #dedede solid;
	border-top: 0.05rem #dedede solid;
	background-color: #fff;
	padding-left: 0.15rem;
}

#weixin {
	text-align: center;
	padding: 20px 0;
}

#weixin img {
	width: 100%;
	max-width: 200px;
	text-align: center;
}

#dibu {
	background-color: #333;
	width: 100%;
	padding: 0.1rem 0rem;
	margin-bottom: 2.3rem;
	text-align: center;
}

#dibu a {
	color: #999;
}

#dibu p {
	font-size: 0.6rem;
	line-height: 20px;
	color: #999;
}

.footer-inner p a {
	color: #999;
}

#footer {
	background-color: #04324c;
	height: 2.3rem;
	width: 100%;
	left: 0;
	position: fixed;
	bottom: 0;
	border-bottom: 1px #f8f8f8 solid;
	border-top: 1px #e7e7e7;
}

.footer-inner {
	width: 100%;
	padding-top: 0.05rem;
	height: 2.3rem;
	margin: 0 auto;
}

.footer-dianhua {
	width: 25%;
	text-align: center;
	float: left;
}

.footer-inner i {
	font-size: 0.8rem;
	color: #fefefe;
	display: block;
	padding-top: 0.3rem;
	padding-bottom: 4px;
}

.footer-inner a {
	font-size: 0.6rem;
	padding-top: -0.325rem;
	color: #fefefe;
	display: block;
}

.footer-inner p {
	font-size: 0.6rem;
	padding-top: -0.08rem;
	color: #fefefe;
}