.caption {
    text-align: center;
    box-sizing: border-box;
    padding: 1rem .5rem;
}

.caption h1 {
    font-size: 0.8rem;
}

.caption p {
    font-size: 0.5rem;
    line-height: 1.1rem;
}

.caption p a {
    color: #ff5a0c;
}

.caption img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
    margin-top: 0.5rem;
}

.zuoping {
    width: 100%;
}

.zuoping img {
    width: 50%;
    float: left;
    display: block;
    height: auto;
    padding: 0.1rem;
    box-sizing: border-box;
}

.money {
    display: flex;
    padding: 1rem 0;
}

.money .money-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
}

.money .money-item img {
    width: 60%;
    margin: 0 auto;
    height: auto;
    display: block;
}

.money .money-item .money-text {
    padding-top: 1rem;
    text-align: center;
}

.money .money-item .money-text h2 {
    font-size: 0.5rem;
}

.money .money-item .money-text small {
    font-size: 0.4rem;
}

.money .money-item .money-text p {
    font-size: 0.4rem;
}

.money .money-item .money-text small span {
    color: #fa434b;
}

.project {
    text-align: center;
    box-sizing: border-box;
    padding: 1rem .5rem;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.project h2 {
    font-size: 0.6rem;
}

.project p {
    font-size: 0.5rem;
    line-height: 1rem;
}

.project .jieduan {
    width: 100%;
    margin-top: 0.2rem;
}

.project .bg {
    position: absolute;
    z-index: -1;
    top: 4rem;
    width: 200%;
    height: auto;
    filter: blur(2px);
    left: -6rem;
}

.project .jieduan:after {
    content: '';
    clear: both;
    overflow: hidden;
    height: 0;
    display: block;
}

.project .jieduan li {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background: rgba(1, 128, 243, .3);
    float: left;
    color: #fff;
    overflow: hidden;
    margin: 1rem 2rem 0 2rem;
}

.project .jieduan li:nth-of-type(2n) {
    float: right;
    margin-right: 0;
    margin-left: 0;
    transform: translateX(-2rem);
}

.project .jieduan li .li-inner {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    text-align: center;
    overflow: hidden;
    margin: .5rem auto 0;
    background: rgb(1, 128, 243);
}

.project .jieduan li .li-inner h4 {
    margin-top: 1.5rem;
}

.project .jieduan li .li-inner h5 {
    margin-top: 0.5rem;
}

.two {
    background-color: #f9f9f9;
}

.two-inner {
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
}

.two-l {
    text-align: center;
}

.two-l h2 {
    height: 2rem;
    line-height: 2rem;
    width: 13rem;
    font-size: 1rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
    color: #5385da;
}

.two-l h2:before {
    content: "";
    width: 10px;
    height: 0.75rem;
    display: block;
    position: absolute;
    top: 0.65rem;
    left: -8px;
    background-color: #f9f9f9;
}

.two-l h2:after {
    content: "";
    width: 10px;
    height: 0.75rem;
    display: block;
    position: absolute;
    top: 0.65rem;
    right: -8px;
    background-color: #f9f9f9;
}

.two-l ul {
    display: flex;
}

.two-l ul li {
    flex: 1;
    padding: 0.5rem;
    text-align: center;
}

.two-l ul li img {
    transition: all 1s;
    width: 100%;
}

.two-l ul li img:hover {
    transform: translate(0px, -6px);
}

.two-l p {
    font-size: 0.5rem;
    color: #666;
}

.two-r {
    padding-bottom: 1rem;
    text-align: center;
}

.two-r h3 {
    font-size: 1.2rem;
    color: #fe3f08;
    margin-top: 1rem;
    font-weight: 800;
}

.two-r img {
    width: 13rem;
}

.two-r p {
    font-size: 14px;
    color: #666;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
}

.class-zj {
    text-align: center;
    overflow: hidden;
    clear: both;
}

.class-zj h2 {
    font-size: 22px;
    color: #fd5b0a;
    font-weight: bold;
    margin-bottom: 13px;
    margin-top: 38px;
}

.class-zj p {
    font-size: 0.5rem;
    width: 68%;
    margin: 0 auto;
}

.class-zj p:nth-of-type(1) {
    color: #0a304d;
    font-weight: bold;
}

.class-zj p:nth-of-type(2) {
    color: #acacac;
    margin-top: 10px;
    line-height: 26px;
}

.class-zj .class-list {
    display: flex;
    box-sizing: border-box;
    padding: 0 24px;
}

.class-zj .class-list li {
    flex: 1;
    background: url(../images/classbg.png) no-repeat center;
    background-size: 95% 95%;
    height: 9rem;
    position: relative;
    box-sizing: border-box;
    padding: 2px;
}

.class-zj .class-list li .caption,
.class-zj .class-list li span,
.class-zj .class-list li h4 {
    position: absolute;
    display: block;
}

.class-zj .class-list li span {
    color: red;
    left: 23%;
    top: 10%;
    color: #fff;
}

.class-zj .class-list li h4 {
    color: #fd855c;
    font-size: 0.4rem;
    top: 75%;
    width: 100%;
    text-align: center;
}

.class-zj .class-list li .caption {
    width: 100%;
    font-size: 14px;
    top: 25%;
}

.class-zj .class-list li .caption p {
    width: 100%;
    font-size: 0.4rem;
    color: #fff;
    line-height: 1;
    text-align: left;
}

.google {
    background: #0d182c;
    padding-bottom: 1rem;
}

.google h2 {
    color: #fd5b0a;
    text-align: center;
    padding-top: .5rem;
}

.google p {
    color: #fff;
    font-size: 0.4rem;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.google p span {
    vertical-align: middle;
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 0.15rem;
    border: 1px solid #fff;
}

.google p span:nth-child(1) {
    margin-right: 0.2rem;
}

.google p:after {
    width: 50%;
    height: 1px;
    transform: scale(1.2, 0.5);
    background: #fff;
    top: 50%;
    display: block;
    content: '';
    right: -51.5%;
    position: absolute;
}

.google p:before {
    width: 50%;
    height: 1px;
    transform: scale(1.2, 0.5);
    background: #fff;
    top: 50%;
    display: block;
    content: '';
    left: -51.5%;
    position: absolute;
}

.google .google-list {
    box-sizing: border-box;
    padding: 0 .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.google .google-list li {
    overflow: hidden;
    clear: both;
}

.google .google-list li img {
    float: left;
    display: block;
    width: 20%;
    height: auto;
}

.google .google-list li .text {
    float: left;
    display: block;
    width: 75%;
    height: auto;
    color: #fff;
    font-size: 0.5rem;
    box-sizing: border-box;
    padding: .1rem .3rem;
    border-radius: .2rem;
    margin-top: 0.5rem;
}

.google .google-list li:nth-of-type(2n-1) .text {
    margin-left: 0.5rem;
}

.google .google-list li:nth-of-type(2n) .text {
    margin-right: 0.5rem;
}

.google .google-list li:nth-of-type(1) .text {
    border: 1px solid #e25448;
}

.google .google-list li:nth-of-type(2) .text {
    border: 1px solid #f9e262;
}

.google .google-list li:nth-of-type(3) .text {
    border: 1px solid #24a4cb;
}

.google .google-list li:nth-of-type(4) .text {
    border: 1px solid #cc3335;
}

.google .google-list li:nth-of-type(5) .text {
    border: 1px solid #f9e262;
}

.student-zuoping {
    width: 100%;
    padding: 0 0.4rem;
    box-sizing: border-box;
}

.student-zuoping h2 {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.student-zuoping ul {
    display: flex;
}

.student-zuoping ul li {
    flex: 1;
    text-align: center;
    margin: 0.1rem 0.2rem 0.4rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 0.2rem;
}

.student-zuoping ul li img {
    width: 100%;
    height: auto;
    display: block;
}

.student-zuoping ul li p {
    font-size: 0.4rem;
}

.five-inner {
    width: 15rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.five-inner ul li {
    position: absolute;
}

.five-inner img {
    width: 14rem;
    padding: 1rem 0;
}

.eleven-inner {
    width: 15rem;
    padding: 1rem 0;
    margin: 0 auto;
    text-align: center;
}

.eleven-top {
    width: 14rem;
    height: 1rem;
    border-radius: 1rem;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.eleven-top h2 {
    font-size: 0.7rem;
    background-color: #fff;
    position: absolute;
    top: -0.65rem;
    padding: 0 0.5rem;
    left: 3.7rem;
    text-align: center;
    color: #000;
}

.eleven-top h4 {
    position: absolute;
    left: 1.5rem;
    font-size: 0.6rem;
    top: 0.7rem;
    color: #000;
    padding: 0 0.2rem;
    background-color: #fff;
}

.eleven-pic {
    padding-bottom: 0.5rem;
    margin: 0 auto;
}

.eleven-pic img {
    width: 44%;
    margin: 0.5rem 0.2rem 0;
    border: 1px #ccc solid;
    box-shadow: 2px 2px 3px #666;
}

.three {
    background-color: #f9f9f9;
}

.three-inner {
    padding: 0.75rem;
    text-align: center;
    margin: 0 auto;
}

.three-inner h2 {
    font-size: 0.7rem;
    color: #666;
    padding: 0.4rem 0;
}

.three-box-top {
    width: 100%;
}

.shizi-pic {
    width: 100%;
    margin: 0 auto;
    height: 11rem;
    position: relative;
    background-color: #f9f9f9;
}

.shizi-pic h5 {
    font-size: 0.5rem;
    height: 1rem;
    line-height: 1rem;
    padding-top: 0.2rem;
    color: #000;
}

.shizi-pic p {
    font-size: 0.4rem;
    color: #666;
    line-height: 0.5rem;
}

.shizi-opic {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    border: 2px #6995e0 solid;
}

.shizi-opic img {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
}

.shizi-tpic {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: 2px #6995e0 solid;
}

.shizi-tpic img {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
}

.shizi-two {
    position: absolute;
    text-align: center;
    top: 3rem;
    left: 0.8rem;
}

.shizi-three {
    position: absolute;
    text-align: center;
    top: 0.2rem;
    left: 5.4rem;
}

.shizi-four {
    position: absolute;
    text-align: center;
    top: 3rem;
    left: 11rem;
}

#xing {
    width: 100%;
    background-color: #e6e5e3;
    height: 12rem;
}

.xing-inner {
    width: 15rem;
    margin: 0 auto;
}

.xing-inner img {
    width: 100%;
}

.xueyuan-inner {
    width: 15rem;
    margin: 0 auto;
    padding-top: 1rem;
    text-align: center;
}

.xueyuan-inner h2 {
    font-size: 0.7rem;
    font-weight: bolder;
    color: #000;
    padding-bottom: 0.5rem;
    line-height: 1rem;
}

.xueyuan-inner p {
    font-size: 0.7rem;
    color: #49556f;
    font-weight: 400;
    padding-top: 5px;
}

.xueyuan-inner ul {
    width: 15rem;
    padding-bottom: 0.5rem;
    margin: 0 auto;
}

.xueyuan-inner ul li {
    width: 30%;
    float: left;
    margin: 0 0.2rem;
    margin-top: 0.5rem;
    padding-bottom: 0.2rem;
    border: 1px #ccc solid;
    box-shadow: 2px 2px 2px #ccc;
    transition: all 2s;
}

.xueyuan-inner ul li:hover {
    transform: rotateY(360deg);
}

.xueyuan-inner ul li h4 {
    font-weight: 400;
    line-height: 0.7rem;
    font-size: 0.6rem;
}

.xueyuan-inner ul li p {
    font-size: 0.5rem;
    line-height: 0.6rem;
    color: #666;
}

.xueyuan-inner ul li img {
    width: 100%;
}

.twelve-inner {
    width: 15rem;
    padding: 1rem 0;
    margin: 0 auto;
}

.twelve-inner h2 {
    font-size: 0.8rem;
    color: #fff;
    width: 4rem;
    font-weight: bold;
    height: 1.5rem;
    border-radius: 4px;
    line-height: 1.5rem;
    text-align: center;
    background-color: #59a2d5;
}

#twelve-bian {
    border-left: 1px #cdcdcd solid;
}

.twelve-a {
    width: 2.04rem;
    padding: 0.2rem 0.2rem;
    float: left;
    margin-top: 0.75rem;
    border-right: 1px #cdcdcd solid;
    text-align: center;
}

.twelve-a img {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    width: 100%;
}

.twelve-a h5:before {
    content: "";
    width: 2rem;
    height: 5px;
    margin: 0 auto;
    display: block;
    border-top: 1px #c0c0c0 solid;
}

.twelve-a h5 {
    font-weight: 600;
    color: #1d8dbd;
    font-size: 0.6rem;
    line-height: 0.7rem;
}

.twelve-a p {
    font-size: 0.5rem;
    color: #666;
}

.kecheng {
    background-color: #e0e0e0;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}

.kecheng h2 {
    height: 2rem;
    line-height: 2rem;
    width: 10.3rem;
    font-size: 1rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
    color: #5385da;
    border: 5px #5686db solid;
}

.kecheng h2:before {
    content: "";
    width: 10px;
    height: 0.75rem;
    display: block;
    position: absolute;
    top: 0.65rem;
    left: -8px;
    background-color: #e0e0e0;
}

.kecheng h2:after {
    content: "";
    width: 10px;
    height: 0.75rem;
    display: block;
    position: absolute;
    top: 0.65rem;
    right: -8px;
    background-color: #e0e0e0;
}

.kecheng-inner {
    width: 15rem;
    border: 1px #fff solid;
    border-bottom: none;
    background-color: #ccc;
    margin: 0 auto;
    box-shadow: 2px 2px 2px #ccc;
    margin-bottom: 0.5rem;
}

.kecheng-top {
    width: 15rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-bottom: 1px #fff solid;
    text-align: center;
    background-color: #2c2c2c;
}

.kecheng-top h4 {
    font-size: 0.6rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #fff;
}

.kecheng-xx {
    width: 15rem;
    height: 1rem;
    line-height: 1rem;
    border-bottom: 1px #fff solid;
    background-color: #1f8cca;
}

.kecheng-aa p {
    font-size: 0.4rem;
    padding: 0.1rem 0;
    color: #333;
}

.kecheng-a h4 {
    font-size: 0.5rem;
    line-height: 1rem;
}

.kecheng-b h4 {
    font-size: 0.5rem;
    line-height: 1rem;
}

.kecheng-c h4 {
    font-size: 0.5rem;
    line-height: 1rem;
}

.kecheng-a {
    width: 2rem;
    float: left;
    text-align: center;
}

.kecheng-b {
    width: 1.2rem;
    float: left;
    text-align: center;
}

.kecheng-c {
    width: 11.8rem;
    float: left;
    text-align: center;
}

.kecheng-a1 {
    width: 2rem;
    float: left;
    border-bottom: 1px #fff solid;
    text-align: center;
}

.kecheng-b1 {
    width: 1.1rem;
    float: left;
    border-bottom: 1px #fff solid;
    border-left: 1px #fff solid;
    border-right: 1px #fff solid;
    text-align: center;
}

.kecheng-c1 {
    width: 11.6rem;
    float: left;
    border-bottom: 1px #fff solid;
    padding-left: 0.2rem;
}

#dibu {
    background-color: #333;
    width: 100%;
    padding: 0.1rem 0rem;
    margin-bottom: 2.3rem;
    text-align: center;
}

#dibu a {
    color: #999;
}

#dibu p {
    font-size: 0.6rem;
    line-height: 20px;
    color: #999;
}

.footer-inner p a {
    color: #999;
}

#footer {
    background-color: #04324c;
    height: 2.3rem;
    width: 100%;
    left: 0;
    position: fixed;
    bottom: 0;
    border-bottom: 1px #f8f8f8 solid;
    border-top: 1px #e7e7e7;
}

.footer-inner {
    width: 100%;
    padding-top: 0.05rem;
    height: 2.3rem;
    margin: 0 auto;
}

.footer-dianhua {
    width: 25%;
    text-align: center;
    float: left;
}

.footer-inner i {
    font-size: 0.8rem;
    color: #fefefe;
    display: block;
    padding-top: 0.3rem;
    padding-bottom: 4px;
}

.footer-inner a {
    font-size: 0.6rem;
    padding-top: -0.325rem;
    color: #fefefe;
    display: block;
}

.footer-inner p {
    font-size: 0.6rem;
    padding-top: -0.06rem;
    color: #fefefe;
}